.row
  .col-lg-6
    %form
      .input-group
        %input.form-control{ name: 'address', type: 'text', placeholder: 'Address'}
        %span.input-group-btn
          %button.btn.btn-default{ type: "button" } Go!


