.row
  .col-lg-6
    %form{ action: '/near', method: 'GET' }
      .input-group
        %input.form-control{ name: 'address', type: 'text', placeholder: 'Enter a starting address'}
        %span.input-group-btn
          %button.btn.btn-default{ type: "submit" } Go!


