:javascript
  Route = {
    origin: {
      latitude: #{@location[0]},
      longitude: #{@location[1]}
    },
    stores: #{@stores.to_json},
    waypoints: #{@stores.map { |s| {location:s.address} }.to_json}
  };
#panel
  %b Mode of Travel:
  %select#mode
    %option{value: "DRIVING"} Driving
    %option{value: "WALKING"} Walking
    %option{value: "BICYCLING"} Bicycling
#directions-panel.col-md-4
#map-canvas.col-md-8
